<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn Page</title>
</head>
<body>
    <div th:replace="header"></div>
    <h2>LogIn Page</h2>
    <div th:if="${param.error}">Invalid username and password.</div>
    <div th:if="${param.logout}">You have been logged out.</div>
    <form th:action="@{/login}" method="POST">
        <table>
            <tr>
                <td>Username:</td>
                <td>
                    <input type="text" name="username" />
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" name="password" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="LogIn" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>