<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Students</title>
</head>
<body>
    <div th:replace="header"></div>
    <h2>List of Students</h2>
    <table border="1">
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>E-mail</th>
            <th colspan="2">Operations</th>
        </tr>
        <tr th:each="student, iStat: ${students}">
            <td th:text="${iStat.index + 1}" />
            <td th:text="${student.id}" />
            <td th:text="${student.firstName}" />
            <td th:text="${student.lastName}" />
            <td th:text="${student.email}" />
            <td >
                <a th:href="@{|/students/edit/${student.id}|}">Edit</a>
            </td>
            <td>
                <a th:href="@{|/students/delete/${student.id}|}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>